.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.flex {
  @include flex;
}
.flex-start {
  @include flex(top, flex-start);
}
.flex-full {
  flex: 1
}
.relative {
  position: relative;
}
.m-r-4 {
  margin-right: 4px;
}
.m-r-6 {
  margin-right: 6px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-4 {
  margin-left: 4px;
}
.m-l-6 {
  margin-left: 6px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-t-6 {
  margin-top: 6px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-4 {
  margin-bottom: 4px;
}
.m-b-10 {
  margin-bottom: 10px;
}


.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}
.common-whitebox {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
}

.line-height-32 {
  line-height: 32px;
}
.underline {
  text-decoration: underline;
}
.text-primary {
  color: var(--tt-color-primary)
}