.m-r-4 {
  margin-right: 4px;
}
.m-r-6 {
  margin-right: 6px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-4 {
  margin-left: 4px;
}
.m-l-6 {
  margin-left: 6px;
}
.m-l-10 {
  margin-left: 10px;
}


.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}