$hideSidebarWidth: 64px;
$sidebarWidth: 200px;
.layout-section {
  height: 100vh;
  display: flex;
  &.hideSidebar {
    .layout-article {
      margin-left: $hideSidebarWidth;
    }
    .layout-menu {
      width: $hideSidebarWidth;
    }
  }
  &.mobile {
    .layout-menu {
      z-index: 1001;
      width: $sidebarWidth
    }
    .layout-article {
      margin-left: 0
    }
    &.hideSidebar {
      .layout-menu {
        width: 0
      }
    }
    .header-tags {
      display: none !important;
    }
  }
  .layout-menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--el-menu-bg-color);
    transition: width .3s;
    display: flex;
    flex-direction: column;
    .el-menu {
      border-right: none;
    }
    .project-menu {
      @include hiddenScrollBar();
      flex: 1;
      overflow-y: auto;
      // transition: all .3s;
    }
    .project-name {
      .logo {
        max-width: 20px;
        max-height: 20px;
        vertical-align: middle;
      }
      overflow: hidden;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #33383c;
      color: var(--tt-color-white);
      font-size: 16px;
      h1 {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
      }
    }
    width: $sidebarWidth;
  }
  .layout-article {
    // flex: 1;
    // width: calc(100vw - 200px);
    transition: margin-left .3s;
    width: 100%;
    margin-left: $sidebarWidth;
    display: flex;
    flex-direction: column;
    .header-bread {
      height: $--header-bread-height;
      padding: 0 var(--tt-padding-space);
      @include flex();
      color: var(--tt-color-666);
      .bread-text {
        @include flex(center, flex-start);
      }
      .avatar {
        img {
          width: 20px;
          border-radius: 50%;
        }
      }
    }
    .header-tags {
      height: $--header-tag-height;
      border-top: 1px solid var(--tt-border-color);
      @include flex(center, flex-start);
      ul {
        @include flex(flex-end, flex-start);
        padding: 0 var(--tt-padding-space);
        height: 100%;
        li {
          cursor: pointer;
          font-size: 12px;
          height: 26px;
          @include flex();
          padding: 0 5px;
          border-width: 15px 27px;
          border-style: solid;
          margin: 0 -15px;
          border-color: transparent;
          border-radius: 2px;
          position: relative;
          &.current {
            color: var(--el-color-primary);
          }
          &:hover, &.current {
            background-color: var(--el-color-primary-light-9);
            -webkit-mask-box-image: url("#{$images}/header-tag.svg") 12 27 15;
          }
        }
      }
    }
    .layout-content {
      border-top: 1px solid var(--tt-border-color);
      flex: 1;
      overflow-y: auto;
      background-color: var(--tt-main-bg-color);
      padding: var(--tt-padding-space);
    }
  }
}

// login
.login-box {
  background-color: var(--el-color-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .section-content {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 20px;
    min-width: 500px;
    margin-top: -15vh;
    h3 {
      color: var(--el-color-primary);
      font-size: 20px;
      text-align: center;
    }
    .inset-button {
      @include flex;
    }
  }
}